.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2f1b0c;
  color: white;
  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 1.9s;
}

.logo-img {
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.welcome-text {
  margin-top: 20px;
  font-size: 24px;
  opacity: 0;
  animation: textFadeIn 1.2s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* Animations */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes textFadeIn {
  to { opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}
